<mat-card>
    <mat-card-header style="background-color: #26c6da;">
      <mat-card-title>{{header}} Work Order</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="workOrder.id">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="workOrder.description">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Device</mat-label>
        <mat-select [(ngModel)]="selectedDeviceValue" name="device">
          <mat-option *ngFor="let device of devices" [value]="device.value">
            {{device.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Request Date</mat-label>
        <input matInput [(ngModel)]="workOrder.requestDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Service Date</mat-label>
        <input matInput [(ngModel)]="workOrder.serviceDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Engineer</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="engineer">
          <mat-option *ngFor="let engineer of engineers" [value]="engineer.id">
            {{engineer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end" style="padding-bottom: 10px;padding-right: 10px;">
        <button mat-raised-button style="background-color: #26c6da;"(click)="post()">Save</button>
      </mat-card-actions>
  </mat-card>

