<button mat-icon-button class="m-r-15"> <img src="assets/images/header/scanner.png" class="profile-pic" [routerLink]="['/scanner']"> </button>
<button mat-icon-button class="m-r-15"> <img src="assets/images//header/video.png" class="profile-pic"[routerLink]="['/video-call']"> </button>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-15"> <img src="assets/images/header/user.png" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

