    <mat-card>
      <mat-card-header style="background-color: #26c6da;">
        <mat-card-title *ngIf="questions.length === question?.step">{{deviceName}}</mat-card-title>
        <mat-card-title *ngIf="questions.length !== question?.step">{{deviceName}} - Question {{question?.step}}?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{question?.question}}
        </p>
      </mat-card-content>
      <div *ngIf="isNull(question?.image)">
        <div *ngFor="let item of question.image;">
          <img mat-card-image  src="assets/images/device/{{ item }}.JPG">
        </div>
      </div>
      <div *ngIf="isNull(question?.msg)">
        <p style="color:green; padding-left: 50px;padding-right: 50px;">
          {{question?.msg}}
        </p>
      </div>
      <mat-card-actions align="end" style="padding-bottom: 10px;padding-right: 10px;">
        <button mat-raised-button *ngIf="question?.step !== 1" style="background-color: #26c6da;"(click)="backClicked()">BACK</button>
        <button mat-raised-button *ngIf="submit" style="background-color: #26c6da;"(click)="post()">SUBMIT</button>
        <button mat-raised-button *ngIf="next" style="background-color: #26c6da;"(click)="nextClicked()">NEXT</button>
        <button mat-raised-button  *ngIf="yes" style="background-color: #26c6da;" (click)="yesClicked()">YES</button>
        <button mat-raised-button  *ngIf="no" style="background-color: #26c6da;"(click)="noClicked()">NO</button>
      </mat-card-actions>
    </mat-card>
